@keyframes prog {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand-Regular.ttf");
  font-display: swap;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  max-width: 2000px;
  margin: 0 auto 0 auto;
}
body .menu h1, body .logo {
  font-family: Shrikhand;
}
body a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
}
header a {
  z-index: 1;
}
header i {
  font-size: 20px;
  margin: 3px -70px 0 15px;
}
header img {
  max-height: 110px;
  width: 100%;
  padding: 30px 20% 30px 20%;
  box-shadow: 0 6px 6px #404040;
  z-index: 0;
}

.intro {
  width: 100%;
}
.intro .location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #f0f0f0;
}
.intro .location i {
  margin: -5px 15px 0 0;
}
.intro .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  width: 100%;
  text-align: center;
  background-color: #f7f7f7;
  padding: 60px 0 60px 0;
}
.intro .title h2 {
  font-size: 30px;
}
.intro .title p {
  font-size: 25px;
  color: grey;
}
.intro .title button {
  height: 70px;
  width: 250px;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 10px #e0e0e0;
  cursor: pointer;
}
.intro .title button span {
  font-size: 20px;
  color: white;
}
.intro .title button:hover {
  opacity: 0.85;
  box-shadow: 2px 2px 6px #404040;
}

main {
  display: flex;
  flex-direction: column;
  /*WORKING*/
  /*RESTAURANTS*/
  /*MENU*/
}
main .main_pic {
  max-height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 55%;
     object-position: 0 55%;
}
main .working {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 80px 0;
}
main .working h2 {
  align-self: flex-start;
  margin-left: 2%;
}
main .working .block__steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 360px;
  width: 85%;
}
main .working .block__steps .step {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 375px;
  font-size: 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #e0e0e0;
}
main .working .block__steps .step .nbr {
  position: absolute;
  left: -15px;
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 5px 10px 2px 10px;
}
main .working .block__steps .step .step__main {
  display: flex;
  align-items: center;
}
main .working .block__steps .step .step__main i {
  color: grey;
  padding: 40px 0 40px 40px;
}
main .working .block__steps .step .step__main p {
  position: absolute;
  left: 85px;
}
main .working .block__steps .step:hover {
  background-color: #e4d5f6;
  cursor: default;
}
main .working .block__steps .step:hover i {
  color: #9356DC;
}
main .restaurants {
  width: 100%;
  background-color: #f7f7f7;
  padding: 40px 0 80px 0;
}
main .restaurants h2 {
  margin-left: 2%;
}
main .restaurants .block__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 1100px;
}
main .restaurants .block__card .resto__card {
  position: relative;
  height: 250px;
  width: 90%;
  max-width: 375px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #e0e0e0;
}
main .restaurants .block__card .resto__card img {
  height: 70%;
  width: 100%;
  border-radius: 25px 25px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .restaurants .block__card .resto__card .new {
  position: absolute;
  top: 0;
  right: 10px;
  color: #004700;
  background-color: #99E2D0;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
main .restaurants .block__card .resto__card .card_info {
  position: relative;
  padding-left: 20px;
  margin-top: 0;
}
main .restaurants .block__card .resto__card .card_info h3 {
  margin-top: 10px;
  margin-bottom: -10px;
}
main .restaurants .block__card .resto__card .card_info i {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
}
main .restaurants .block__card .resto__card .card_info .fa-solid {
  color: #9356DC;
  opacity: 0;
  transition: opacity 800ms;
  z-index: 1;
}
main .restaurants .block__card .resto__card .card_info .fa-solid:hover {
  opacity: 1;
}
main .restaurants .block__card .resto__card:hover {
  box-shadow: 4px 6px 10px #cfcece, -4px -4px 10px #cfcece;
}
main .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
}
main .menu .menu_title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 260px;
  width: 100%;
}
main .menu .menu_title i {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 25px;
  cursor: pointer;
}
main .menu .menu_title .fa-solid {
  color: #9356DC;
  z-index: 1;
  opacity: 0;
  transition: opacity 800ms;
}
main .menu .menu_title .fa-solid:hover {
  opacity: 1;
}
main .menu .block__dishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main .menu .block__dishes h3 {
  font-weight: normal;
  align-self: flex-start;
  border-bottom: 2px solid #99E2D0;
}
main .menu .block__dishes .dish {
  display: flex;
  background-color: white;
  min-height: 90px;
  max-height: 90px;
  width: 100%;
  max-width: 375px;
  padding: 0 5px 0px 5%;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #e0e0e0;
  margin-bottom: 20px;
  overflow: hidden;
}
main .menu .block__dishes .dish--1 {
  animation: prog 1000ms 800ms both ease-in-out;
}
main .menu .block__dishes .dish--2 {
  animation: prog 1000ms 1200ms both ease-in-out;
}
main .menu .block__dishes .dish--3 {
  animation: prog 1000ms 1600ms both ease-in-out;
}
main .menu .block__dishes .dish--4 {
  animation: prog 1000ms 2000ms both ease-in-out;
}
main .menu .block__dishes .dish--5 {
  animation: prog 1000ms 2400ms both ease-in-out;
}
main .menu .block__dishes .dish--6 {
  animation: prog 1000ms 2800ms both ease-in-out;
}
main .menu .block__dishes .dish--7 {
  animation: prog 1000ms 3200ms both ease-in-out;
}
main .menu .block__dishes .dish--8 {
  animation: prog 1000ms 3600ms both ease-in-out;
}
main .menu .block__dishes .dish--9 {
  animation: prog 1000ms 4000ms both ease-in-out;
}
main .menu .block__dishes .dish--10 {
  animation: prog 1000ms 4400ms both ease-in-out;
}
main .menu .block__dishes .dish_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  overflow: hidden;
}
main .menu .block__dishes .dish_main h4 {
  margin: 5px 0 5px 0;
}
main .menu .block__dishes .dish_main p {
  margin: 0;
  padding-right: 5px;
}
main .menu .block__dishes .dish_price {
  align-self: flex-end;
  font-weight: bold;
  padding-right: 2%;
  padding-bottom: 4px;
}
main .menu .block__dishes .dish .i {
  height: 90px;
  width: 90px;
  color: white;
  background-color: #99E2D0;
  padding: 30px;
  border-radius: 0 20px 20px 0;
  margin: 0 -100px 0 30px;
  transition: margin-right 400ms;
}
main .menu .block__dishes .dish .i i {
  font-size: 30px;
  transform: rotate(180deg);
  transition: transform 700ms;
}
main .menu .block__dishes .dish:hover {
  box-shadow: 4px 6px 10px #cfcece, -4px -4px 10px #cfcece;
  cursor: pointer;
}
main .menu .block__dishes .dish:hover .dish_main #st-jacques {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .menu .block__dishes .dish:hover .dish_main p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .menu .block__dishes .dish:hover .dish_price {
  margin-right: -20px;
}
main .menu .block__dishes .dish:hover .i {
  margin-right: -5px;
}
main .menu .block__dishes .dish:hover .i i {
  transform: rotate(360deg);
}
main .menu #command {
  margin: 40px 0 40px 0;
}
main .menu button {
  height: 70px;
  width: 250px;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 10px #e0e0e0;
  cursor: pointer;
}
main .menu button span {
  font-size: 20px;
  color: white;
}
main .menu button:hover {
  opacity: 0.85;
  box-shadow: 2px 2px 6px #404040;
}

footer {
  color: white;
  background-color: #404040;
  padding: 30px 0 40px 30px;
}
footer .footer {
  display: flex;
  flex-direction: column;
}
footer .footer div {
  display: flex;
  align-items: center;
}
footer .footer div i {
  font-size: 14px;
  margin: 0 15px 0 0;
}
footer .footer div #partners {
  margin-left: -5px;
}
footer .footer a {
  color: white;
  margin: 5px 0 5px 0;
}
footer .footer a:nth-child(4) {
  margin-top: 5px;
}
footer .footer a:hover {
  text-decoration: underline;
}

@media all and (min-width: 768px) {
  main .main_pic {
    max-height: 300px;
  }
  main .menu .menu_title {
    padding-left: 20px;
  }
  main .menu .menu_title i {
    right: 20px;
  }
  main .menu .block__dishes .dish {
    padding-left: 25px;
  }
}
@media all and (min-width: 992px) {
  main .working .block__steps {
    flex-direction: row;
    height: 280px;
    width: 90%;
  }
  main .working .block__steps .step {
    width: 30%;
    max-width: 375px;
  }
  main .restaurants .block__card {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 650px;
    max-width: 1150px;
    padding: 0 8% 0 8%;
    margin: 0 auto 0 auto;
  }
  main .main_pic {
    max-height: 350px;
  }
  main .menu .block__dishes {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 310px;
    max-width: 1200px;
    margin-bottom: 40px;
  }
  main .menu .block__dishes h3 {
    position: absolute;
    left: 8%;
  }
  main .menu .block__dishes .dish {
    width: 30%;
    max-width: 350px;
    padding-left: 20px;
    margin: 90px 0 0 0;
  }
  main .menu .block__dishes #foie-gras {
    margin-top: 30px;
  }
}/*# sourceMappingURL=styles.css.map */