* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@font-face {
    font-family: "Roboto";
    src: url("../polices/Roboto-Medium.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Shrikhand";
    src: url("../polices/Shrikhand-Regular.ttf");
    font-display: swap;
}
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    max-width: 2000px;
    margin: 0 auto 0 auto;
    .menu h2, .logo {
        font-family: Shrikhand;
    }
    a {
        color: black;
        text-decoration: none;
    }
}
